body {
    background-color: #791b0b;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #b52e1c;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
